/* style.css */

/* Estilo general para VBox */
VBox {
    -fx-background-color: #FAF0E6;
}

/* Estilo para los botones */
Button {
    -fx-background-color: #E4CBA7;
}

Button:hover {
    -fx-background-color: #D1B897;
}

Button:pressed {
    -fx-background-color: #BFA488;
}

/* Estilo para los campos de texto */
TextField {
    -fx-border-color: #E4CBA7;
}

PasswordField {
    -fx-border-color: #E4CBA7;
}

/* Separador */
Separator .line {
    -fx-background-color: #E4CBA7;
}

/* ScrollPane */
ScrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* Barra vertical */
.scroll-bar:vertical {
    -fx-pref-width: 6px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #D1B897;
    -fx-background-radius: 5px;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

/* Barra horizontal (por si aparece) */
.scroll-bar:horizontal {
    -fx-pref-height: 6px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #D1B897;
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}
