/* style.css */

/* Estilo general para VBox */
VBox {
    -fx-background-color: #FAF0E6;
}

/* Estilo para los botones */
Button {
    -fx-background-color: #E4CBA7;
}

Button:hover {
    -fx-background-color: #D1B897;
}

Button:pressed {
    -fx-background-color: #BFA488;
}

/* Estilo para los campos de texto */
TextField {
    -fx-border-color: #E4CBA7;
}

PasswordField {
    -fx-border-color: #E4CBA7;
}

/* Separador */
Separator .line {
    -fx-background-color: #E4CBA7;
}
